@import "./colors.scss";
@import "./typografy.scss";

.btn-scale-1{
    height: 36px;
    color: $write;
    padding: 7px 16px 8px 16px;
    background-color:$red_light;
    @include type-1(Regular, 16,18);
    border: 2px solid $red_light;
    border-radius: 2px;
}
.btn-scale-2{
    height: 40px;
    color: $write;
    padding: 9px 16px 10px 16px;
    background-color:$red_light;
    @include type-1(Regular, 16,18);
    border: 2px solid $red_light;
    border-radius: 2px;
}

.btn-scale-3{
    height: 48px;
    color: $write;
    padding: 13px 24px 14px 24px;
    background-color:$red_light;
    @include type-1(Bold, 16,18);
    border: 2px solid $red_light;
    border-radius: 2px;
}

.btn-scale-4{
    height: 60px;
    color: $write;
    padding: 18px 24px 24px 18px;
    background-color:$red_light;
    @include type-1(Bold, 18,20);
    border: 2px solid $red_light;
    border-radius: 2px;
}


.btn-expand{
    width: 100%;
    height: 36px;
    color: $write;
    padding: 7px 0px 8px 0px;
    background-color:$red_light;
    @include type-1(Regular, 16,18);
    border: 2px solid $red_light;
    border-radius: 2px;
}

.btn-expand-2{
    width: 100%;
    height: 40px;
    color: $write;
    padding: 9px 0px 10px 0px;
    background-color:$red_light;
    @include type-1(Regular, 16,18);
    border: 2px solid $red_light;
    border-radius: 2px;
}

.btn-expand-3{
    width: 100%;
    height: 48px;
    color: $write;
    padding: 13px 0px 14px 0px;
    background-color:$red_light;
    @include type-1(Bold, 16,18);
    border: 2px solid $red_light;
    border-radius: 2px;
}

.btn-expand-4{
    width: 100%;
    height: 60px;
    color: $write;
    padding: 18px 0px 24px 0px;
    background-color:$red_light;
    @include type-1(Bold, 18,20);
    border: 2px solid $red_light;
    border-radius: 2px;
}
.btn-networks-1{
    height: 40px;
    color: $gray_dark;
    padding: 9px 24px 10px 24px;
    background-color:$write;
    @include type-1(Bold, 16,20);
    border: 2px solid $gray_light_2;
    border-radius: 4px;
}

.btn-networks-2{
    height: 60px;
    color: $gray_dark;
    padding: 18px 24px 18px 24px;
    background-color:$write;
    @include type-1(Bold, 18,20);
    border: 2px solid $gray_light_2;
    border-radius: 4px;
}

.btn-networks-expand{
    width: 100%;
    height: 40px;
    color: $gray_dark;
    padding: 9px 0px 10px 0px;
    background-color:$write;
    @include type-1(Bold, 16,20);
    border: 2px solid $gray_light_2;
    border-radius: 4px;
}

.btn-networks-expand-2{
    width: 100%;
    height: 60px;
    color: $gray_dark;
    padding: 18px 0px 18px 0px;
    background-color:$write;
    @include type-1(Bold, 18,20);
    border: 2px solid $gray_light_2;
    border-radius: 4px;
}

.icon-custom-network{
    margin:0px!important;
    margin-right: 14px!important;
}